<html>
<head>
  <meta charset="UTF-8">
  <title>Preppy</title>
</head>
<body>
  <div class = "container">
    <form method = "POST" action='/meal' autocomplete="off">
      <h1>Meals</h1>
      <div class = "meals">
        <label for = "meal_name">What will you be making? </label> 
        <input name="meal_name" type="text" placeholder="meal name"></input>
      </div>
      <br>
      <div class = "buttons">
        <input type = "submit"/>
      </div>
    </form>
  </div>
</body>
</html>